body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #111827;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #d1d5db;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

section {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 12px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}
